
/* font-family: 'Raleway', sans-serif; */
/* Blanc : FFFEFC */
/* Gris Clair: E2E3DF */
/* Gris : 515B5E */
/* Gris Foncé : 2E3233 */
/* Vert Clair : CAF200 */
/* Vert Turquoise : 3FD6B1 */
/* Vert Turquoise Foncé : 5ABAAE*/
/* Rouge : 515B5E */

*{

margin:0;
padding:0;

}

body, html{
  padding: auto;
  overflow-x: hidden;
  height: 100%;
}

a, a:hover {
  text-decoration: none;
}

.navbar {
  background-color: #000 !important;
  border-color: transparent;
  border-radius: 0%;
  box-shadow: 0 0 6px 3px rgba(0,0,0,.35);
  margin-bottom: 0px !important;
  height: 100px;
}



/** Default navbar **/
.navbar-inverse .navbar-nav>li>a { padding-top: 40px; padding-bottom: 25px; min-height: 100px; color: #FFF;}
.navbar-inverse .navbar-nav > li > a:hover {color: #DDBE42;}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  background-color: transparent;
  color: #DDBE42;
}


.logo{
  float: left;
  width: 100px;
  height: 100px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
  color: #DDBE42;
}
.navbar-inverse .navbar-nav .open .dropdown-menu {
  background-color: #060606 !important;
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.4);
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a{
  color: #585858 !important;
  padding: 12px 12px 12px 12px !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #DDBE42 !important;
  background-color: transparent !important;
}
.navbar-inverse .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-inverse .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #DDBE42 !important;
    background-color: transparent !important;
  }
.navbar-inverse .navbar-toggle {
  border-color: transparent;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  border-color: transparent;
  background-color: transparent;
}
.navbar-inverse .navbar-collapse,
.navbar-inverse .navbar-form {
  border-color: transparent;
}
.navbar-form { padding-top: 10px !important;}
.navbar-text { margin-top: 25px; }
.navbar-inverse .navbar-text { color: #CBAF3B;}
.navbar-inverse .navbar-brand {
  font-size: 21px;
  color: #CBAF3B;
  margin-top: 10px;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #DDBE42;
}

.container-fluid {
  padding: 0;
}

/* Team Member CSS
===========================*/

.product{
  max-width:1280px;

 min-height:100%;

 margin:0 auto;

 position:relative;
}

.icon{
  width : 100px;
  height: 100px;
}

.icon2{
  width : 100px;
  height: 100px;
}

h1.team-h1 {
  margin: 0;
  position: absolute;
  top: -16px;
  text-align: center;
  left: 40%;
  background-color: white;
  padding: 0px 20px;
  color: #222;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.boutique-gauche{ float: left; width: 30%; background: #f2f2f2; min-height: 500px; margin-right: 10%; padding-top: 10px; text-align: center; }
.boutique-gauche  ul{ list-style: none; padding: 0; }
.boutique-gauche  ul  li  a{ display: block; padding: 10px; }
.boutique-gauche  ul  li  a:hover{ background: #04baf6; color: #fff; }
.boutique-droite{float: left; width: 60%; }
.boutique-produit{ float: left; width: 30%; text-align: center; padding: 5%; border-bottom: 1px solid #c0c0c0; }
.boutique-produit:hover{ background: #c0c0c0; }

.erreur{ background: #ff0000; padding: 5px; margin: 5px; }
.validation{ background: #669933; padding: 5px; margin: 5px; }
.cadre{ border: 1px solid #c0c0c0; width: 30%;}
.cadre  h2{ background: #c0c0c0; margin: 0; text-align: center; font-size: 15px; padding: 5px; }
.cadre  p{ padding: 10px; }
.centre{text-align: center;}

.user-row {
    margin-bottom: 14px;
}

.user-row:last-child {
    margin-bottom: 0;
}

.dropdown-user {
    margin: 13px 0;
    padding: 5px;
    height: 100%;
}

.dropdown-user:hover {
    cursor: pointer;
}

.table-user-information > tbody > tr {
    border-top: 1px solid rgb(221, 221, 221);
}

.table-user-information > tbody > tr:first-child {
    border-top: 0;
}


.table-user-information > tbody > tr > td {
    border-top: 0;
}
.toppad
{margin-top:20px;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

.team-container {
  max-width: 1000px;
  text-align: center;
  margin: auto;
  padding-top: 5em;
  padding-bottom: 5em;
  margin-top: 3em;
  position: relative;
}

.team-member {
  text-align: center;
}

.child{
  max-width: 250px;
  margin: 20px;
}

.parent{
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}


.team-member h3 {
  color: #1CA3A3;
}

.email {
  color: #EA2678;

}


.team-photo {
  width: 300px;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  transition: 0.1s transform ease-in-out;
}


.team-photo:hover {
  transform: scale(0.9);
  cursor: pointer;
}


/* code for phone layout */
@media (max-width:850px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }

}

@media screen and (min-width: 487px) and (max-width:637px){
  .team-member {
    width:25%;
    margin-left: 4%;
    margin-right: 4%;
    margin-bottom: 40px;

  }

}


@media (max-width:650px){
  .team-member {
    float: none;
    display: block;
    margin: 50px auto;
    width: 100%;
    text-align: center;
  }

  .team-member h3,
  .team-member span {
    margin: 15px auto;
  }
}





/* ENDS Team Member CSS
===========================*/
/* end header */
/* banner */

.banner{
  width: 100%;
  max-width: 100%;
}

.ban{
  width: 100%;
  max-width: 100%;
}

.ban img{
  width: 100%;
  max-width: 100%;
}

.inner-banner{
  padding: 25px 0 450px 0;
  text-align: center;
  padding-top: 10%;
  background: url('../../modele.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner-banner h1{
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
}

.inner-banner .citation{
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  padding-top: 5%;
}

.inner-banner .btn-custom{
  background-color: rgba(0, 0, 0, 0.49);
  color: #FFFFFF;
  border: 1px solid #e25e33;
  font-weight: bold;
}

.inner-banner .btn-custom:hover{
  background-color: #e25e33;
  font-weight: bold;
}

.inner-banner1{
  padding: 25px 0 450px 0;
  text-align: center;
  padding-top: 10%;
  background: url('picture/presta.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.inner-banner1 h1{
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
}

.inner-banner1 .citation{
  color: #FFFFFF;
  text-shadow: 1px 1px 20px #000000;
  padding-top: 5%;
}

.inner-banner1 .btn-custom{
  background-color: rgba(0, 0, 0, 0.49);
  color: #FFFFFF;
  border: 1px solid #e25e33;
  font-weight: bold;
}

.inner-banner1 .btn-custom:hover{
  background-color: #e25e33;
  font-weight: bold;
}

/*about ff9900 */

#about{
    text-align: center;

}

.about{
  background-color: #000;
  color: #FFF;
}

.separator{
  height: 3px;
  width: 5%;
  border: none;
  box-shadow: none;
  background-color: #000;
}

.about article {
  margin-top: 1%;
}
.about h2{
  text-align: center;
}

/* newletter */

.newsletter{
  text-align: center;
  height: 400px;
  color: #FFF;
  background-color: #000;
}

.newsletter .btn-custom{
  background-color: rgba(0, 0, 0, 0.49);
  color: #FFFFFF;
  border: 1px solid #e25e33;
  font-weight: bold;
}

.newsletter .btn-custom:hover{
  background-color: #e25e33;
  font-weight: bold;
}

/* test */

.test{
  background-color: #FFF;
}

.test h2{
  text-align: center;
}

.marque{
  width: 50%;
  height: 50%;
}

/* for the besoins */


.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}


/* Added some padding to make it more readable */

div[class^="col-"] {
    padding:40px;
}


/* for the presentation */
.societe{
  background-color: #DDD;
    text-align: center;
}

.societe article {
  margin-top: 5%;
}
.societe h2{
  text-align: center;
}

.agence{
  background-color: #000;
  color: #FFF;
}

.img-circle{
    box-shadow: 1px 1px 12px #555;
    width: 100px;
  	height: 100px;
  	border-radius: 50px;
  	-webkit-border-radius: 50px;
  	-moz-border-radius: 50px;
  }

/* for the history */

.history{
    background-color: #000;
    text-align: center;
    color: #FFFFFF;
}

/* for the enterprise */

.enterprise{
    background-color: #FFF;
    text-align: center;
    color: #000;
}



/* for the prestations */

.glyphicon { margin-right:5px; }
.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    height: 500px;
}

.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
  width: 50px;
  height: 50px;
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #FFF;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/* footer */
.footer-bs {
position: fixed;
bottom: 0;
width: 100%;
background-color: #000;
padding: 60px 40px;
color: rgba(255,255,255,1.00);
margin-bottom: 0;
	border-bottom-right-radius: 6px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 6px;
}

.footer-bs .footer-brand, .footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { padding:10px 25px; }
.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-color: transparent; }
.footer-bs .footer-brand h2 { margin:0px 0px 10px; }
.footer-bs .footer-brand p { font-size:12px; color:rgba(255,255,255,0.70); }

.footer-bs .footer-nav ul.pages { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.pages li { padding:5px 0px;}
.footer-bs .footer-nav ul.pages a { color:rgba(255,255,255,1.00); font-weight:bold; text-transform:uppercase; }
.footer-bs .footer-nav ul.pages a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }
.footer-bs .footer-nav h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}

.footer-bs .footer-nav ul.list { list-style:none; padding:0px; }
.footer-bs .footer-nav ul.list li { padding:5px 0px;}
.footer-bs .footer-nav ul.list a { color:rgba(255,255,255,0.80); }
.footer-bs .footer-nav ul.list a:hover { color:rgba(255,255,255,0.60); text-decoration:none; }

.footer-bs .footer-social ul { list-style:none; padding:0px; }
.footer-bs .footer-social h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
}
.footer-bs .footer-social li { padding:5px 4px;}
.footer-bs .footer-social a { color:rgba(255,255,255,1.00);}
.footer-bs .footer-social a:hover { color:rgba(255,255,255,0.80); text-decoration:none; }

.footer-bs .footer-ns h4 {
	font-size: 11px;
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-bottom:10px;
}
.footer-bs .footer-ns p { font-size:12px; color:rgba(255,255,255,0.70); }

@media (min-width: 768px) {
	.footer-bs .footer-nav, .footer-bs .footer-social, .footer-bs .footer-ns { border-left:solid 1px rgba(255,255,255,0.10); }
}


/* produit index */

.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}

.img-responsive{
  height : 300px;
  width: 300px;
}
        .product-item .add2cart:hover {
            color: #fff;
            background: #e84d1c;
            border-color: #e84d1c;
        }
